---
import MainLayout from '@layouts/MainLayout.astro';
import CertificationsHero from './certifications/components/CertificationsHero.astro';
import CertificationsGrid from './certifications/components/CertificationsGrid.astro';
import { useTranslations } from '@i18n/utils';

const t = useTranslations('en');
---

<MainLayout title={`${t('certifications.title')} | Sebastian Georgian Utoiu`}>
  <section class="bg-white py-20 dark:bg-gray-900">
    <div class="mx-auto max-w-[1600px] px-6 sm:px-8 lg:px-12">
      <CertificationsHero />
      
      <!-- Separator -->
      <div class="my-12 border-t border-gray-200 dark:border-gray-800" />
      
      <!-- Main Content -->
      <CertificationsGrid />
    </div>
  </section>
</MainLayout>
