---
import MainLayout from '@layouts/MainLayout.astro';
import ContactHero from './contact/components/ContactHero.astro';
import ContactForm from './contact/components/ContactForm.astro';
import ContactInfo from './contact/components/ContactInfo.astro';
import { useTranslations } from '@i18n/utils';

const t = useTranslations('en');
---

<MainLayout title={`${t('contact.title')} | Sebastian Georgian Utoiu`}>
  <section class="bg-white py-20">
    <div class="mx-auto max-w-4xl px-4 sm:px-6 lg:px-8">
      <ContactHero />

      <div class="grid gap-12 lg:grid-cols-2">
        <ContactForm />
        <ContactInfo />
      </div>
    </div>
  </section>
</MainLayout>
