---
import MainLayout from '@layouts/MainLayout.astro';
import ProjectsHero from './projects/components/ProjectsHero.astro';
import FilterButtons from './projects/components/FilterButtons.astro';
import ProjectsGrid from './projects/components/ProjectsGrid.astro';
import { useTranslations } from '@i18n/utils';

const t = useTranslations('en');
---

<MainLayout title={`${t('projects.title')} | Sebastian Georgian Utoiu`}>
  <section class="bg-white py-20 dark:bg-black">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <ProjectsHero />
      <FilterButtons />
      <ProjectsGrid />
    </div>
  </section>
</MainLayout>
