---
import { useTranslations } from '@i18n/utils';

const t = useTranslations('en');
---

<div class="mb-6 text-center">
  <img
    src="/stacks/stack-face.png"
    alt="Stack"
    class="mx-auto mb-4 h-auto w-24 sm:w-24"
    loading="lazy"
  />
  <h1 class="mb-4">
    {t('certifications.title')}
  </h1>
  <p class="mx-auto max-w-2xl text-lg leading-relaxed text-gray-600">
    {t('certifications.description')}
  </p>
</div>
