---
interface Props {
  cols?: 2 | 3 | 4;
}

const { cols = 2 } = Astro.props;

const gridCols = {
  2: 'md:grid-cols-2',
  3: 'md:grid-cols-2 lg:grid-cols-3',
  4: 'md:grid-cols-2 lg:grid-cols-4',
};
---

<div class={`not-prose my-6 grid gap-4 ${gridCols[cols]}`}>
  <slot />
</div>
