---
import BaseLayout from './BaseLayout.astro';
import Header from '@components/navigation/Header.astro';
import Footer from '@components/navigation/Footer.astro';

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  seoTitle?: string | undefined;
  children?: any;
}

const { title, description, seoTitle } = Astro.props;
---

<BaseLayout {...{ title, description, seoTitle } as any}>
  <div class="flex min-h-screen flex-col">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </div>
</BaseLayout>
